<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Questions</title>
<!--<link rel="stylesheet"-->
<!--	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"-->
<!--	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"-->
<!--	crossorigin="anonymous">-->
</head>
<body>
    <div class="center">
        <h1>Enter Questions</h1>
        <form action="storequestions" method="post">
            <input type="text" th:name="qcode" placeholder="option" th:value="${qcode}">
            <input type="text" th:name="noqs" placeholder="option" th:value="${noqs}">
            <div th:each="i:${arr}">
                <label for="" style="font-size: x-large;">Question no</label>
                <p th:text="${i}">QNO:</p>

                <label for="">Question</label>
                <textarea th:name="${'qname'+i}" id="Question" cols="30" rows="2" style="font-size: xx-large;"></textarea>
                <label for="">option 1:</label>
                <input type="text" th:name="${'op1'+i}" placeholder="option" hiddenvalue="option-1" required>
                <label for="">option 2:</label>
                <input type="text" th:name="${'op2'+i}" placeholder="option" hiddenvalue="option-2" required>
                <label for="">option 3:</label>
                <input type="text" th:name="${'op3'+i}" placeholder="option" hiddenvalue="option-3" required>
                <label for="">option 4:</label>
                <input type="text" th:name="${'op4'+i}" placeholder="option" hiddenvalue="option-4" required>
                <label for="">Answer:</label>
                <input type="text" th:name="${'ans'+i}" placeholder="Answer" hiddenvalue="Answer" required>
            </div>
            <input type="submit" value="submit">
        </form>

    </div>
</body>
</html>

